<%= form_with model: @event do |event| %>
  <div>
    <%= event.label :name %>
    <%= event.text_field :name %>
  </div>

  <div>
    <%= event.label :time %>
    <%= event.datetime_field :time %>
  </div>

  <div>
    <%= event.label :location %>
    <%= event.text_field :location %>
  </div>

  <div>
    <%= event.checkbox :visibility, checked: true %>
    <%= event.label :visibility, "Private" %>
  </div>

  <div>
    <%= event.submit %>
  </div>
<% end %>
